body
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.sizeImage
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.centerFirstText
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
    background-color: #f2f2f2;
    box-shadow: inset 0px 2px 5px 2px #d8d8d8;

    i
    {
        padding-right: 15px;
    }
}

.textAlignSection1
{
    text-align: center;
}

.boutonExplorer
{
    border: 2px solid transparent;
    background: linear-gradient(332deg, #9356dc, #ff79da); /* permet de faire le degrader */
    border-radius: 30px;
    text-align: center;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    color: white;
}


.backGrisSection1
{
    background-color: #f8f8f8;
    padding-top: 5px;
    padding-bottom: 30px;
}

.fonctionnement 
{
    margin-bottom: 50px;
}

.fonctionnement h2 
  {
    padding: 20px;
  }

.fonctionnement1 
  {
    list-style-type: none;
    padding-left: 0;
  }
  
  .fonctionnement1 li 
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 25px;
    margin: 15px 20px 15px 30px;
    border-radius: 20px;
    box-shadow: 1px 2px 8px 2px #c4c4c4;
    background-color: #f5f5f5;
  }

  .fonctionnement1 li p 
  {
    font-weight: 500;
    margin-left: 20px;
  }

  .fonctionnement1 li:hover 
  {
    background: #f2eafb;
  }

  .fonctionnement1 li:hover .fas 
  {
    color: #9356dc;
  }

  .fonctionnement1Numero 
  {
    background-color: #9356dc;
    color: white;
    border-radius: 50%;
    padding: 5px 9px;
    margin-left: -40px;
  }

  .fonctionnement1Icon 
  {
    color: grey;
    font-size: 1.2rem;
    margin-left: 20px;
  }

  .Restaurant 
  {
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
  }

  .restaurantTitle h3 
  {
    padding: 30px 0px 0px 10px;
  }

  .bloc 
  {
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    margin: 20px;
    position: relative;
    background: #fff;

    img 
    {
      object-fit: cover;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      width: 100%;
      height: 120px;
    }
    a 
    {
      text-decoration: none;
      color: black;
    } 
  }

  .new 
  {
    color: #008766;
    background: #99E2D0;
    border: 5px solid #99E2D0;
    border-radius: 5px;
    position: absolute;
    right: 1%;
    top: 5%;
  }

  .heart 
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;

    h4 
    {
        margin: 0;
        padding-left: 10px;
    }

    p 
    {
      padding-left: 10px;
    }
  }

  .paddingBlocTxt
  {
    padding-left: 10px;
  }


.foooter 
{
    background-color: #000000c7;
    padding-left: 15px;
    padding-top: 20px;
}    

.imgfooter 
{
    width: 30%;
    filter: invert(1);
    padding-bottom: 10px;
}

.footerA 
{
    text-decoration: none;
    color: white;
}

.footerLogo
{
  color: white;
  padding-right: 10px;
}

.footerLogo1
{
  color: white;
  padding-right: 17px;
}

/* FIN INDEX.HTML */ 

/* MENU1 */ 

.header1
{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.arrow
{
  margin-left: 10px;
}

.imgLogo
{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.imgResto
{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.titleResto
{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 50px;
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: 900;
    font-style: italic;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.sectionMenu1
{
  background-color: #f2f2f2;
  padding-bottom: 50px;
}

.choixPlat
{
  margin-top: 0px;
  margin-left: 20px;
}

.carte
{
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.carteT1
{
    padding-left: 5px;
    font-weight: bold;
    margin-bottom: 5px;
}

.carteTEtPrix
{
  display: flex;
  justify-content: space-between;
}

.carteT2
{
  margin: 0;
  padding-left: 5px;
}

.cartePrix 
{
  margin-top: 0;
  padding-right: 5px;
  font-weight: bold;
}

